{% extends "nav.html" %}
{% load static %}

{% block content %}
    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            
                    <div class="container course-tab">
                        <div class="page-title">
                           <div class="table" style="text-align: center;width: 980px; left: 471px;" ><h2> Competitors </h2></div>
                        </div>
                        <div class="row course-list">
                            {% for i in competitors %}
                            <div class="single-course">
                                <div class="sc-wrp">
                                    <div class="sc-img">
                                        
                                        <img src="{% if i.Images %}/static/assets/images{{i.Images.url}}{% else%}{% static 'assets/images/3.jpg' %}{% endif %}"  alt="">
                                        
                                    </div>
                                    <div class="sc-title">
                                        <h6 style="text-align: center;">Competitor {{i.id}}</h6>
                                        <h3 style="text-align: center;">{{i.name}}</h3>
                                    </div>
                                    <div class="sc-button">
                                        <a href="{% url 'competitors_detail' i.name %}" class="btns">Click here for more data</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}      
                        </div>
                    </div>     
        </div>
    </div>
{% endblock %}
